<h2>List of Article</h2>

<table class="articles">
  <thead>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Description</td>
      <td colspan="3">Action</td>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td>
            <% # equivalent article_path with %>
            <%= link_to "Show", article_path(article) %>
          </td>
          <td>
            <%= link_to "Edit", edit_article_path(article) %>
          </td>
          <td>
            <%# <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure to continue" } %>
            <%= link_to "Delete", article, data: { turbo_method: :delete, turbo_confirm: "Are you sure to continue delete this article?" } %>
          </td>
        </tr>
    <% end %>
</table>
<br/>
<%= link_to "New Article Form", new_article_path %>